import(qualV)
import(zoo)
import(tiger)
import(ggplot2)
import(emoa)
import(som)
import(dtw)
import(reshape2)
import(fuse)
import(fanplot)
import(colorspace)
import(RColorBrewer)

exportPattern("^[^\\.]")
