import(fuse)
import(ggplot2)
importFrom(colorspace, sequential_hcl)
importFrom(fanplot, fan)
importFrom(reshape2, melt)
importFrom(zoo, coredata)
importFrom(bigmemory, filebacked.big.matrix)
importFrom(biganalytics, apply)
importFrom(scales, rescale)
importFrom(emoa, is_dominated)
importFrom(som, som)
importFrom(dtw, dtw)

export(amca)
export(accuracy)
export(BuildEnsemble)
export(ExtendTable)
export(MCsimulations)
export(ParetoFrontier)
export(PrepareTable)
export(PreSelection)
export(RedundancyReduction)
export(precision)
export(reliability)
export(pNS)
export(RowMatch)
export(SelectIndices)
export(SetThreshold)
export(Simulations2Indices)
export(RescaleIndices)
export(Plot2DarrayMultiple)
export(PlotParameterSimilarities)
export(pNS)
